In [3]:
#exercise Level 2:
#question 2
print(3+4) #Addition operation
print(3-4) #Subtraction Operation
print(3*4) #Multiplication operation
print(3%4) #Modulo Operation
print(3/4) #Division Operation
print(3**4) #Exponentiation
print(3//4) #Floor Division

7
-1
12
3
0.75
81
0

In [6]:
#Questions 3: 
print("Sufiyan") #My First name
print("Ibrahim") #My family name
print("Nigeria") #My Country Name
print("I am enjoying 30 Days of Python") #I am enjoying 30 Days of Python String

Sufiyan
Ibrahim
Nigeria
I am enjoying 30 Days of Python

In [7]:
#Questions 4: 
print(type(10)) #Checking the data type of 10
print(type(9.8)) #Checking the data type of 9.8
print(type(3.14)) #Checking the data type of 3.14
print(type(4 -4j)) #Checking the Data type of 4 -4j
print(type(["Sufiyan", "Ibrahim", "Nigeria"])) 
print(type("Sufiyan"))
print(type("Ibrahim"))
print(type("Nigeria"))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'str'>
<class 'str'>
<class 'str'>

In [10]:
#Exercise: Level 3
#Question : 1
print(10) #Example of integer
print(3.29) #Example of Float
print(3 -3j) #Example of Complex Number
print("Day1") #Example of String
print(True) #Example of Boolean
print(("year1", "year 3", "year 3")) #Example of Tuple
print(["Sufiyan", "Ibrahim", "Computer Engineering"]) #Example of a List
print({1,2,3,3,5,6,8}) #exapmle of a Set
print({"Name": "Sufiyan", "Country": "Nigeria"}) #Exampleof a Dictionary

10
3.29
(3-3j)
Day1
True
('year1', 'year 3', 'year 3')
['Sufiyan', 'Ibrahim', 'Computer Engineering']
{1, 2, 3, 5, 6, 8}
{'Name': 'Sufiyan', 'Country': 'Nigeria'}

In [11]:
#Question 2: Eucleadian Distance
print((((10-2)**2)+((8-3)**2))**(1/2))

9.433981132056603