In [10]:
#Day 22 Exercises
#1: 
def add_two_numbers(num1,num2):
    total = num1 + num2 
    return total
print(add_two_numbers(3, 5))

#2: 
#Area of a circle
def area_of_circle(r):
    pi = 3.13
    area = pi * r**2
    return area
print(area_of_circle(4))

8
50.08

In [15]:
#3:
def add_all_nums(*nums):
    total = 0
    for num in nums:
        if not isinstance(num, (int, float)):
            return "Error: All items must be numeric."
        total = total + num
    return total
print(add_all_nums(1,4,6,8))
print(add_all_nums(4,6,9, "EIGHT", 4))

19
Error: All items must be numeric.

In [23]:
#4:
def convert_celsius_to_fahrenheit(C):
    F = (9/5 * C) + 32
    return F
print(convert_celsius_to_fahrenheit(50))

#5:
def check_season(months):
    autumn_season = ["September", "October", "November"]
    winter_season = ["December", "January", "February"]
    spring_season = ["March", "April", "May"]
    summer_season = ["June", "July", "August"]
    
    if user_input in autumn_season:
        return("The season is Autumn")
    elif user_input in winter_season:
        return("The season is Winter")
    elif user_input in spring_season:
        return("The season is Spring")
    else:
        return("The season is Summer")


print(check_season(input("Enter the month to check the season: ")))

122.0
The season is Summer

In [24]:
def calculate_slope():
    x_1 = eval(input("Enter your x_1: "))
    x_2 = eval(input("Enter your x_2: "))
    y_1 = eval(input("Enter your y_1: "))
    y_2 = eval(input("Enter your y_2: "))
    slope = (y_2-y_1)/(x_2-x_1)
    return slope
calculate_slope()

0.5

In [27]:
#question 7:
def solve_quadratic_eqn(a,b,c):
    if a ==0:
        return "ValueError : This is not a quadrati equation"
    discriminant = (b**2) - (4*a*c)
    root_1 =  -b + ((((4*a*c)-b**2)**0.5)/(2*a))
    root_2 =  -b - ((((4*a*c)-b**2)**0.5)/(2*a))
    if discriminant >= 0:
        #This implies a real roots
        return root_1, root_2
    elif discriminant ==0:
        #This implies equal roots 
        return root_1, root_2
    else:
        #This implies complex roots 
        return root_1, root_2
solve_quadratic_eqn(3,3,4)

(-1.9591670002669337, -4.040832999733066)

In [32]:
def print_list(list):
    my_list = ["Usman", "Rabia","Baby", "Jawwad", 'Sulahailat']
    for name in my_list:
        print(name)
print_list(["Usman", "Rabia","Baby", "Jawwad", 'Sulahailat'])

Usman
Rabia
Baby
Jawwad
Sulahailat

In [46]:
def reverse_list(list):
    reverse_list = []
    for name in range(len(list)):
        reverse_list.append(list[name])
    return reverse_list
my_list = ["Usman", "Rabia","Baby", "Jawwad", 'Sulahailat']
reverse_list(my_list[::-1])

['Sulahailat', 'Jawwad', 'Baby', 'Rabia', 'Usman']

In [53]:
def capitalized_list():
    my_list = ["musa", "usmman", "yahya", "muhammad"]
    for name in range(len(my_list)):
        print((my_list[name].capitalize()))
capitalized_list()

Musa
Usmman
Yahya
Muhammad

In [62]:
def add_item(list, added_item):
  

  # Create a copy of the original list to avoid modifying it directly
  new_list = list[:]

  # Append the new item to the copy
  new_list.append(added_item)

  # Return the new list with the added item
  return new_list

# Example usage
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
new_list = add_item(food_staff, "Meat")

print(f"Original list: {food_staff}")
print(f"New list with added item: {new_list}")

Original list: ['Potato', 'Tomato', 'Mango', 'Milk']
New list with added item: ['Potato', 'Tomato', 'Mango', 'Milk', 'Meat']

In [65]:
def sum_of_numbers(n):
    sum = 0
    for nums in range(n+1):
        sum +=nums
    return sum
sum_of_numbers(5)
print("Next")
sum_of_numbers(10)
print("Next")
sum_of_numbers(100)

Next
Next

5050

In [75]:
def sum_of_odd(n):
    sum = 0
    for i in range(n+1):
        if i%2 !=0:
            sum +=i
    return sum
sum_of_odd(100)

2500

In [76]:
def sum_of_odd(n):
    sum = 0
    for i in range(n+1):
        if i%2 ==0:
            sum +=i
    return sum
sum_of_odd(100)

2550

In [85]:
#Level 2:
def even_and_odd(n):
    count_even= 0
    count_odd = 0
    for num in range(n+1):
        if num %2 == 0:
            count_even +=1   
        else:
            count_odd +=1

    return (count_even, count_odd)


count_even, count_odd = even_and_odd(100)

# Print the results
print(f"Number of odd digits: {count_odd}") 
print(f"Number of even digits: {count_even}")

Number of odd digits: 50
Number of even digits: 51

In [86]:
def factorial(n):
  

  # Check for invalid input
  if n < 0:
    print("Factorial is not defined for negative numbers.")

  # Base case for factorial of 0
  if n == 0:
    return 1

  # Recursive case for calculating factorial
  else:
    return n * factorial(n - 1)

# Example usage
number = 5
factorial_value = factorial(number)

print(f"The factorial of {number} is: {factorial_value}")

The factorial of 5 is: 120

In [87]:
#Level 3:
def is_prime(n):
 

  # Handle edge cases
  if n <= 1:
    return False

  # Loop through potential divisors starting from 2
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False

  # If no divisors found, the number is prime
  return True

# Example usage
number = 11

if is_prime(number):
  print(f"{number} is a prime number.")
else:
  print(f"{number} is not a prime number.")

11 is a prime number.

In [90]:
def all_unique(data):
  

  return len(set(data)) == len(data)

# Example usage
data1 = [1, 2, 3, 4, 5]
data2 = [1, 2, 3, 4, 2]

print(f"All unique in data1: {all_unique(data1)}")
print(f"All unique in data2: {all_unique(data2)}")

All unique in data1: True
All unique in data2: False

In [91]:
def all_same_type(data):
  

  if len(data) == 0:
    return True  # Empty list is considered all same type

  # Check the type of the first element and compare it to all other elements
  data_type = type(data[0])
  for item in data:
    if type(item) != data_type:
      return False

  return True

# Example usage
data1 = [1, 2, 3, 4, 5]  # All integers
data2 = [1.0, 2.0, 3.0]  # All floats
data3 = ["apple", "banana", "orange"]  # All strings
data4 = [1, "apple", True]  # Mixed types

print(f"All same type in data1: {all_same_type(data1)}")
print(f"All same type in data2: {all_same_type(data2)}")
print(f"All same type in data3: {all_same_type(data3)}")
print(f"All same type in data4: {all_same_type(data4)}")

All same type in data1: True
All same type in data2: True
All same type in data3: True
All same type in data4: False